stages:
  - build
  - test
  - report
  - analyze
  - deploy

image:
  name: maven:3-openjdk-11

cache:
  paths:
    - .m2/repository

.job-template:
  secrets:
    ARTIFACTORY_DOMAIN:
      vault: Artifactory/domain@Build-Environment
      file: false
    ARTIFACTORY_USERNAME:
      vault: Artifactory/user-write-username@Build-Environment
      file: false
    ARTIFACTORY_PASSWORD:
      vault: Artifactory/user-write-password@Build-Environment
      file: false
    SONAR_DOMAIN:
      vault: Sonar/domain@Build-Environment
      file: false
    SONAR_LOGIN:
      vault: Sonar/access-key@Build-Environment
      file: false
  before_script:
    - ./configure_maven.sh

build:
  extends: .job-template
  stage: build
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target

unit test:
  extends: .job-template
  stage: test
  needs:
    - build
  script:
    - mvn test
    - mvn jacoco:report
    - ./print_coverage.sh target/site/jacoco/jacoco.csv
  coverage: '/Instructions covered: \d+.\d+%/'
  artifacts:
    when: always
    paths:
      - target/surefire-reports
      - target/site/jacoco
    reports:
      junit: target/surefire-reports/TEST-*.xml

integration test:
  extends: .job-template
  stage: test
  needs:
    - build
  script:
    - mvn verify
    - mvn jacoco:report-integration
    - ./print_coverage.sh target/site/jacoco-it/jacoco.csv
  artifacts:
    when: always
    paths:
      - target/failsafe-reports
      - target/site/jacoco-it
    reports:
      junit: target/failsafe-reports/TEST-*.xml

dependencies check:
  extends: .job-template
  stage: report
  needs:
    - build
  script:
    - mvn dependency-check:check
  artifacts:
    paths:
      - target/dependency-check-reports

sonar:
  extends: .job-template
  stage: analyze
  needs:
    - build
    - unit test
    - integration test
    - dependencies check
  script:
    - mvn -Dsonar.scm.revision=$CI_COMMIT_SHORT_SHA -Dsonar.branch.name=$CI_COMMIT_REF_NAME sonar:sonar

deploy development:
  extends: .job-template
  stage: deploy
  needs:
    - build
    - unit test
    - integration test
  except:
    - master
  script:
    - mvn -Pdevelopment deploy -DskipTests

deploy release:
  extends: .job-template
  stage: deploy
  needs:
    - build
    - unit test
    - integration test
  only:
    - master
  script:
    - mvn -Prelease deploy -DskipTests